<li>
    <div class="user-contents-img">
        <img src="img/{{album}}.jpg">
    </div>
    <div class="user-contents-desc">
        <div class="user-contents-title">
            {{~title~}}
        </div>
        <div class="user-contents-btn">
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
    <div class="user-contents-userinfo">
        <div class="with-user-img-container">
            <img class="editor-thumbnail" src="img/user/{{user}}.jpg">
        </div>
        <div class="user-contents-userid">{{id}}</div>
        <div class="user-contents-like">
            <i class="fa fa-heart-o"></i>
            <div>{{like}}</div>
        </div>
    </div>
</li>