<div class="ha-user-profile">
    <div class="ha-user-img">
        <img src="{{img}}"
             style="width: 150px; height: 150px; border-radius: 75px">
    </div>
    <div class="ha-user-desc">
        <div class="ha-user-id">
            {{~userId~}}
        </div>
        <div class="ha-user-text">
            {{~text~}}
        </div>
        <ul class="ha-user-travel">
            <li class="ha-user-travel-diary">
                <i class="fa fa-book"></i>
                여행기 <span>{{diary}}</span>
            </li>
            <li class="ha-user-travel-country">
                <i class="fa fa-map-marker"></i>
                여행국가 <span>{{country}}</span>
            </li>
            <li class="ha-user-travel-flag">
                <ul class="ha-user-travel-country-flag">
                    {{~#each userSub~}}
                        <li><img src="{{visitedImg}}"></li>
                    {{~/each~}}
                </ul>
            </li>
        </ul>
    </div>
</div>
<ul class="ha-user-contents">
    {{~#each submenu~}}
    <li>
        <div class="user-contents-img">
            <img src="{{img}}">
        </div>
        <div class="user-contents-desc">
            <div class="user-contents-title">
                {{~title~}}
            </div>
            <div class="user-contents-btn">
                <i class="fa fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="user-contents-userinfo">
            <div class="ha-user-img-container">
                <img class="editor-thumbnail" src="{{usersImg}}">
            </div>
            <div class="user-contents-userid">{{userId}}</div>
            <div class="user-contents-like">
                <i class="like-btn fa fa-heart-o"></i>
                <div>{{likeCount}}</div>
            </div>
        </div>
    </li>
    {{~/each~}}
</ul>
