{{#each this~}}
    <tr>
        <td>{{@index}}</td>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{{mainTitle}}}</td>
        <td>{{{subTitle}}}</td>
        <td>{{countSubmenus}}</td>
        <td>{{datetime}}</td>
    </tr>
{{~/each}}