<li class="user-info" user-name="{{name}}">
    <div class="user-img"
         style="background-image: url({{img}})">
    </div>
    <div class="user-id">{{id}}</div>
    <div class="user-text">{{text}}</div>
    <ul class="user-travel">
        {{#each subMenus}}
            <li class="user-travel-icon"
                style="background-image: url({{name}})"></li>
        {{/each}}
        {{#if more}}
            <span>+4</span>
        {{/if}}
    </ul>
</li>