<li class="user-info" user-name="{{id}}">
    <div class="user-img"
         style="background-image: url({{detail.img}})">
    </div>
    <div class="user-id">{{id}}</div>
    <div class="user-text">{{detail.comment}}</div>
    <ul class="user-travel">
        {{#each userSub}}
            <li class="user-travel-icon"
                style="background-image: url({{visitedImg}})"></li>
        {{/each}}
        {{#if more}}
            <span>+4</span>
        {{/if}}
    </ul>
</li>
